<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <table>
        <tr>
            <td><h2>로그인</h2></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="ID"></td>
        </tr>
        <tr>
            <td><input type="password" placeholder="Password"></td>
        </tr>
        <tr>
            <td><input type="submit" valus="Sign in" class="btn" onclick="alert('로그인 성공')"></td>
        </tr>
        <tr>
            <td class="join"><a href="/join">회원가입</a></td>
        </tr>
    </table>
</body>
</html>