<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/join.css">
</head>
<body>
    <form action="/memberReg" method="post">
        <table>
            <tr>
                <h2>추가 정보입력</h2>
            </tr>
            <tr><td>별명</td></tr>
            <tr><td><input type="text" class="text" name="userNickname" required></td></tr>
            <tr><td>연령</td></tr>
            <tr>
                <td>
                    <select class="age" name="userAge">
                        <option>10대</option>
                        <option>20대</option>
                        <option>30대</option>
                        <option>40대</option>
                        <option>50대</option>
                        <option>60대</option>
                        <option>70대</option>
                        <option>80대</option>
                        <option>90대</option>
                    </select>
                </td>
            </tr>
            <tr><td>성별</td></tr>
            <tr>
                <td>
                    <select class="userSex" name="userSex">
                        <option>남성</option>
                        <option>여성</option>
                    </select>
                </td>
            </tr>
            <tr><td><input type="submit" value="입력완료" class="btn"></td></tr>
        </table>
    </form>
</body>
</html>