<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
</head>

<body>
    <button onclick="btn()">히히</button>

    <script>
        function btn() {
            // URL
            let url = 'http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst';
            // 서비스키
            let queryParams = '?' + encodeURIComponent('serviceKey') + '=' + 'key';
            // 페이지 번호
            queryParams += '&' + encodeURIComponent('pageNo') + '=' + encodeURIComponent('1');
            // 한페이지 결과 수
            queryParams += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('1000');
            // 발표일자
            queryParams += '&' + encodeURIComponent('base_date') + '=' + encodeURIComponent('20240702');
            // 발표시간
            queryParams += '&' + encodeURIComponent('base_time') + '=' + encodeURIComponent('0800');
            // x좌표
            queryParams += '&' + encodeURIComponent('nx') + '=' + encodeURIComponent('98');
            // y좌표
            queryParams += '&' + encodeURIComponent('ny') + '=' + encodeURIComponent('76');
            // json파일로 변환
            queryParams += '&' + encodeURIComponent('dataType') + '=' + encodeURIComponent('json');

            fetch(url + queryParams)
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok " + response.statusText);
                    }
                    return response.json();

                })
                .then(data => {
                    console.log(data);
                })
                .catch (error => {
                console.error("Fetch error:", error);
            });
        }
    </script>
</body>

</html>